

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background-color: #fff;
	color: #343434;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.625;
	margin: 0;
}

a:hover {
	text-decoration: none;
}
.row-equal-height {
	overflow: hidden;
}
.row-equal-height:before, .row-equal-height:after {
	content: '';
	display: table;
}
.row-equal-height:after{
	clear: both;
}
.row-equal-height > [class*="col-"] {
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.searchbox {
	position: relative;
	display: inline;
	float: left;
	width: 320px;
}
.searchbox:after {
	content: '';
  width: 20px;
  height: 18px;
  background: url('../img/search.png') center no-repeat;
  display: block;
  position: absolute;
  top: 8px;
  right: 10px;
}
.searchbox input {
	border-radius: 3px;
}
@media screen and (max-width: 38em){
	.searchbox{
		width: 100%;
		float: none;
		display: block;
		margin-bottom: 17px;
	}
}

.brand {
	padding: 25px 0;
}

.brand img {
	width: 250px;
}
@media screen and (max-width: 38em){
	.brand{
		text-align: center;
		padding-bottom: 30px;
	}
}

.header-menu {
	background-color: #1faca6;
	padding: 10px 0;
}
@media screen and (max-width: 38em){
	.header-menu {
		text-align: center;
	}
}

.header-menu .btn {
	color: #79cdca;
	border: 1px solid #79cdca;
	margin-right: 30px;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
.header-menu .btn:hover{
	background-color: white;
	color: #1faca6;
}
@media screen and (max-width: 38em){
	.header-menu .btn{
		float: none !important;
		margin: 0 auto 5px;
	}
}
.without-sidebar .header-menu .btn {
	margin-right: 0;
}

.header-cover {
	background-size: cover !important;
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
}

.sidebar {
	background-color: #493862;
	padding-left: 0;
	padding-right: 0;
}
.sidebar .menu {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #614b82;
}
.sidebar .menu li {
	border-bottom: 1px solid #312542;
	border-top: 1px solid #614b82;
}
.sidebar .menu li a {
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #877f93;
	padding: 15px;
}
.sidebar .menu li:first-child a {
	background-color: #37294b;
	font-weight: normal;
	color: #fff;
}
.sidebar .menu-icon {
	width: 20px;
	margin-right: 20px;
	margin-left: 7px;
}

.footer {
  background: url("../img/bg-footer.png") center center no-repeat #167c78;
  background-size: cover;
  clear: both;
  padding-top: 40px;
  text-align: center;
}

.footer ul {
	list-style: none;
	padding: 0 0 15px;
	margin: 0;
}

.footer ul li {
	display: inline-block;
	padding: 0 3px;
}

.footer ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.footer ul.menu li {
  padding: 5px 20px;
}

.footer ul.menu-2 li a {
  color: #93eeea;
}
@media screen and (max-width: 40em){
	.footer ul.menu li {
		display: block;
		width: 100%;
		border-bottom: 1px solid #0E6561;
		text-align: left;
		padding-bottom: 8px;
   		 margin-bottom: 8px;
	}
	.footer ul.menu li a{
		display: block;
		width: 100%;
	}
}


.footer-social-icons {
  padding-bottom: 57px !important;
}

.footer-text {
  display: block;
  font-size: 30px;
  margin: 25px 0;
  word-wrap: break-word;
}
@media screen and (max-width: 48em){
	.footer-text {
		font-size: 21px;
	}
}

.footer-text a {
  color: #fff;
}

.footer-site {
  background-color: #0d4d4a;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  padding: 40px 0;
  text-align: center;
}

.footer-site a {
  color: #fff;
  font-weight: 700;
}

.breadcrumb-wrapper {
  background-color: #f7f7f7;
  color: #167c78;
  font-size: 14px;
  font-weight: 700;
  padding: 30px 0;
}
.breadcrumb {
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.breadcrumb > li.active {
	color: #167c78;
}
.breadcrumb a,
.breadcrumb > li + li:before {
  color: #343434;
}

.card-features {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: -10px;
	margin-right: -10px;
}
.card-features [class^="col-"] {
	padding: 10px;
}
.card-feature {
	display: block;
	width: 100%;
	height: 180px;
	padding-top: 36px;
	border: 1px solid #b7b7b7;
	border-radius: 2px;
	text-align: center;
	color: #333;
}
.card-feature:hover {
	color: #167c78;
}
.card-feature img {
	margin-bottom: 12px;
}
.card-feature p {
	font-size: 13px;
}
.card-feature p:after {
	content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: url('../img/arrow-bottom.png') center center no-repeat;
  margin-top: 20px;
}
.card-feature h4 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.card-feature-inner {
	display: block;
	padding: 0 25px;
	opacity: 0.6;
}
.card-feature-inner  img{
	width: 38px;
}
.card-feature.alt {
	height: 275px;
	padding-top: 30px;

	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(247,247,247,1)), color-stop(100%, rgba(240,240,240,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 47%, rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
}
.card-feature.alt img {
	margin-bottom: 8px;
}
.card-feature.alt h4 {
	font-size: 18px;
	line-height: 1.3em;
	height: 50px;
}
.card-features.inverse {
	padding: 15px 25px;
}
.card-feature.inverse {
	background: #5c4c72;
	height: auto !important;
	border: 0;
	color: #fff;
}
.card-feature.inverse h4 {
	height: auto !important;
}
.card-feature.inverse .card-feature-inner {
	opacity: 1;
	padding-bottom: 10px;
}

/* Event */
.calendar-title {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 30px;
}
.events {
	list-style: none;
	margin: 10px 0 35px;
	padding: 0;
}
.event-item {
	border-bottom: 1px solid #ddd;
	font-family: 'Source Sans Pro', sans-serif;
}
.event-item:last-child {
	border-bottom: 0;
}
.event-date {
	display: inline;
	overflow: hidden;
	float: left;
	width: 55px;
	font-weight: 300;
	border: 1px solid #333;
	border-radius: 3px;
	text-align: center;
	margin-right: 17px;
	margin-top: 20px;
}
.event-date small {
	display: block;
	background-color: #ed1c24;
	color: #fff;
}
.event-date big {
	font-size: 32px;
	line-height: 38px;
}
.event-list {
	list-style: none;
	padding: 20px 0;
	margin: 0;
}
.event-list li {
	padding: 0 0 0 72px;
}
.event-list h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin: 5px 0 5px;
}
.event-list h3 a {
	color: #333;
}
.event-list h3 a:hover {
	color: #167c78;
}
.event-list p {
	font-size: 14px;
}

/* Calendar */

.fc-button {
	height: auto !important;
	font-size: 16px !important;
	background: none;
	border: 0;
}
.fc-left {
  padding-left: 25%;
}
.fc-right {
  padding-right: 25%;
}
.fc-center h2 {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	line-height: 26px;
}
.fc th {
	font-weight: normal;
}

/* Content */

.content-list {
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 40px;
	margin-bottom: 20px;
}
.content-list:last-child {
	margin-bottom: 70px;
}
.content-list h2 {
	text-transform: uppercase;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 30px;
}
.content-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.content-list li * {
	font-size: 18px;
}
.content-list li h3 {
	margin: 5px 0;
}
.content-list li p {
	margin-bottom: 15px;
}
.content-list .btn-more {
	text-transform: uppercase;
	border: 1px solid #c1c1c1;
	color: #c1c1c1;
}
.content-list h2:before {
	content: '';
  position: relative;
  display: inline;
  float: left;
  margin-right: 15px;
}
.content-list.video h2:before {
  top: -5px;
  background: url('../img/feature-video.png');
  background-size: 36px auto;
  -moz-background-size: 36px auto;
  -webkit-background-size: 36px auto;
  width: 36px;
  height: 28px;
}
.content-list.user-guide h2:before {
	top: -8px;
  background: url('../img/feature-guide.png');
  width: 34px;
  height: 35px;
   background-size: 34px auto;
  -moz-background-size: 34px auto;
  -webkit-background-size: 34px auto;
}
.content-list.info-sheets h2:before {
	top: -11px;
  background: url('../img/feature-info.png');
  width: 32px;
  height: 41px;
   background-size: 32px auto;
  -moz-background-size: 32px auto;
  -webkit-background-size: 32px auto;
}
.content-list.portal-links h2:before {
	top: -6px;
  background: url('../img/feature-sm-link.png');
  width: 37px;
  height: 33px;
   background-size: 37px auto;
  -moz-background-size: 37px auto;
  -webkit-background-size: 37px auto;
}
.content-hero {
	text-align: center;
	margin-top: 30px;
}
.content-hero h2 > strong {
	display: inline;
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	color: #157c78;
	border: 1px solid;
	padding: 5px 35px;
}
.content-hero img {
	padding: 50px 0;
}
.content-hero img.full-width {

}
.content-hero-image{
	position: relative;
	z-index: 1;
}

.video-list {
	margin: 0 -5px;
}
.video-list [class^="col-"] {
	padding: 0 5px;
}
.video-list .thumbnail {
	padding: 0;
	border: 0;
	border-radius: none;
	margin-bottom: 10px;
}
.video-detail {
	display: inline-block;
	float: left;
	width: 250px;
	height: 400px;
	overflow-y: scroll;
	margin-right: 25px;
	padding-right: 10px;
	font-size: 14px;
}
.modal .title-icon {
	height: 25px;
	margin-right: 7px;
	position: relative;
	top: -3px;
}
.modal .close {
	color: #fff;
	background: #000;
	opacity: 1;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #ddd;
	position: relative;
	top: -28px;
	right: -28px;
}

/* Responsive */

@media (min-width: 992px) {
	.container-fluid {
    padding-left: 50px;
  }
	.without-sidebar .container-fluid {
    padding-right: 50px;
  }
  .header-menu .btn {
		margin-right: 30px;
	}
	.without-sidebar .header-menu .btn {
		margin-right: 0;
	}
  .content {
  	padding-right: 50px
  }
  .content-hero-image {
  	margin: 0 -50px;
  }
}

/* mobile responsive */
@media screen and (max-width: 38em){
	.content-hero h2 > strong {
		display: block;
    width: 100%;
	}
	.content-hero img {
		width: 100%;
		padding: 20px 0;
	}
	.video-detail {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		height: auto;
		float: none;
	}
}

/* Utilities */

.m-0 { margin: 0; }
.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.m-20 { margin: 20px; }
.mt-20 { margin-top: 20px; }
.mr-20 { margin-right: 20px; }
.mb-20 { margin-bottom: 20px; }
.ml-20 { margin-left: 20px; }

.p-0 { padding: 0; }
.pt-0 { padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left: 0; }

.p-20 { padding: 20px; }
.pt-20 { padding-top: 20px; }
.pr-20 { padding-right: 20px; }
.pb-20 { padding-bottom: 20px; }
.pl-20 { padding-left: 20px; }